

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 50%;
    overflow-x: hidden;
}

body{

    font-family: Inter-Regular;
    line-height: 1;
    color: hsl(236, 13%, 42%);
    overflow-x: hidden;
    margin: 0 auto;

}

.container {
    max-width: 150rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 16.8rem;
  }

    
  /* AQUI COMEÇA A ESTILIZAÇÃO DO HEADER */
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8.4rem 16.8rem 4.8rem;
    margin: 0 auto;
  }
  
  .nav-items{
    font-family: Inter-Regular;
    font-size: 3rem;
    color: hsl(236, 13%, 42%);
  }
  
  .nav-items:hover{
    transform: scale(1.2);
    color: hsl(5, 85%, 63%);
    font-size: 4rem;  
    padding: 1rem;
   
  }
  
  .nav-items {
    display: flex;
    gap: 4rem;
    padding: 2rem;
    justify-content: center;
  }
  
  .web3-stack-imgs img {
    display: inline-block;
    width: 100%;
    

  }
  
  
  ul,
  ol {
    list-style-type: none;
  }
  
  a:link{
    text-decoration: none;
  }
  
  /* AQUI COMEÇA A ESTILIZAÇÃO DOS ELEMENTOS ABAIXO DO HEADER */
  .news {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    column-gap: 3rem;
    row-gap: 3rem;
  }
  
  h1 {
    font-family: Inter-extrabold;
    font-size: 5.4rem;
    color: hsl(240, 100%, 5%);
  }
  
  .h2-heading {
    font-family: Inter-Bold;
    font-size: 4.2rem;
    padding-top: 3.2rem;
    color: hsl(35, 77%, 62%);
  }
  
  .h3-heading {
    font-family: Inter-extrabold;
    font-size: 2rem;
    color: hsl(36, 100%, 99%);
  }

  /* NEWS */
  .news-headline {
    display: flex;
  }
  
  .about-web3 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-left: 8.5rem;
  }
  
  .btn-read:link,
  .btn-read:visited {
    font-family: Inter-Bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    padding: 2rem 2rem;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-size: 3rem;
    margin-left: 8.5rem;
    margin-top: 2.2rem;
    transition: all .3s;
  }
  
  .btn-read:hover{
    background-color: hsl(240, 100%, 5%);
  }
  
  /* estilizanção da tag aside */
  .new-aside {
    background-color: hsl(240, 100%, 5%);
    grid-row: span 2;
    padding: 0 2.4rem;
  }

  .new-aside h2{
    padding: 3.2rem 0 2rem;
    border-bottom: 1px solid hsl(236, 13%, 42%);

  }

  .new-aside p{
    padding: 3.2rem 0 2rem;
    border-bottom: 1px solid hsl(236, 13%, 42%);

  }  
  
  .new-aside .new-description {
    font-size: 1.5rem;
    line-height: 1.8;
    margin: 1rem 0 0;
    color: hsl(233, 8%, 79%);
    padding-right: 1rem;
  }
  
  /* Tech-themes */
  .section-footer {
    margin-top: 6.2rem;
  }
  
  .section-footer ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
  }
  
  .section-footer ol li {
    display: flex;
    gap: 2rem;
  }
  
  .section-footer ol li img {
    width: 9.4rem;
  }
  
  .tech-themes {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .number-one, .number-two, .number-three {
    font-size: 4rem;
    font-family: Inter-extrabold;
    color: #ccc;
  }
  
  .title {
    font-family: Inter-extrabold;
    font-size: 1.8rem;
    color: hsl(240, 100%, 5%);
  }
  
  .description-feature {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  /* Estilização da navegação mobile  */
  .btn-phone-nav {
    background: none;
    border: none;
    display: none;
  }
  
  .btn-phone-nav .icone-phone[name="close-contorno"] {
    display: none;
  }
  
  .icone-phone {
    width: 3.2rem;
    height: 3.2rem;
  }
  
  
  
  /* medias queries */
  @media (max-width: 80em) {
    .news {
      grid-template-columns: 1fr;
    }
  
    .news{
      grid-row: 3;
    }
  
    .container {
      padding-left: 3.2rem;
      padding-right: 3.2rem;
    }
  }
  
  @media (max-width: 59em) {
    .section-featured ol {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3.2rem;
    }
  
    .news-headline {
      flex-direction: column;
    }
  
    .about-web3,
    .web3-description .cta {
      margin-left: 0;
    }
  
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  
  